.card{
    max-width: 40vw;
    margin: auto auto;
    border:0;
    width: 40em;
    margin-top: 20vh;
    border: 1px solid #ccc;
    padding: 4em;
}

h2{
    margin-bottom: 2em;
    
}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: rgb(42, 174, 192);
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 0;
  }
  
  input:focus {
    outline: 0 !important;
  }
  button{
      margin-top: 2em;
  }
