input{
    border: 0;
    border-bottom: 1px solid #000;
    padding-left: 2em;
}
input:active{
    outline: 0 !important;
}
input:focus{
    outline: 0 !important;
}
h2{
    margin-top: 2em;
    text-align: center;
}

.agreement{
    margin-bottom: 5em;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.signature{
    position: relative;
    float: right;
}
.form-group input.ng-invalid.ng-touched, 
.form-group input.ng-invalid:focus, 
.form-group select.ng-invalid.ng-touched, 
.form-group textarea.ng-invalid.ng-touched,
.form-submit input.ng-invalid,
.form-submit select.ng-invalid,
.form-submit  textarea.ng-invalid
{
    border-color: #ff4c6a;
}

.invalid-feedback.form-error {
    display: block;
}

// .btn:disabled {
//     opacity: 0.5 !important;
// }